{
  "name": "papir",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "frontend/css/master.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "css/master.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "frontend/css",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "css/master.scss",
      "imports": [
        "css/style.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7887,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.heidework.com",
      "port": 21,
      "user": "heidework.com",
      "password": "px4z2n5h6s"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "js/uikit.min.js",
        "ctime": "2018-06-09T09:02:59.025Z",
        "mtime": "2018-06-03T14:50:13.000Z",
        "size": 125223
      },
      {
        "file": "kunder/kunde_info.php",
        "ctime": "2018-06-09T09:02:57.690Z",
        "mtime": "2018-06-05T21:32:17.000Z",
        "size": 3160
      },
      {
        "file": "kunder/kurv.php",
        "ctime": "2018-06-09T09:02:57.769Z",
        "mtime": "2018-06-05T21:53:18.000Z",
        "size": 3203
      },
      {
        "file": "kunde_billeder/1275457100058.jpg",
        "ctime": "2018-06-09T09:02:57.894Z",
        "mtime": "2018-06-05T21:38:35.000Z",
        "size": 35716
      },
      {
        "file": "kunde_billeder/1288010323309.png",
        "ctime": "2018-06-09T09:02:58.070Z",
        "mtime": "2018-06-05T20:12:45.000Z",
        "size": 2933
      },
      {
        "file": "kunde_billeder/9gFtYhs4xlpOyZDTBojP.jpg",
        "ctime": "2018-06-09T09:02:58.232Z",
        "mtime": "2018-06-05T21:39:11.000Z",
        "size": 79211
      },
      {
        "file": "kunde_billeder/billede.png",
        "ctime": "2018-06-09T09:02:58.512Z",
        "mtime": "2018-06-04T18:48:09.000Z",
        "size": 510755
      },
      {
        "file": "js/custom.js",
        "ctime": "2018-06-09T14:54:55.117Z",
        "mtime": "2018-06-09T14:54:55.117Z",
        "size": 7269
      },
      {
        "file": "js/uikit-icons.js",
        "ctime": "2018-06-09T09:02:58.733Z",
        "mtime": "2018-06-09T09:02:58.733Z",
        "size": 0
      },
      {
        "file": "js/uikit-icons.min.js",
        "ctime": "2018-06-09T09:02:58.800Z",
        "mtime": "2018-06-09T09:02:58.800Z",
        "size": 0
      },
      {
        "file": "includes/contact-email.php",
        "ctime": "2018-06-09T09:02:59.103Z",
        "mtime": "2018-06-09T09:02:59.103Z",
        "size": 0
      },
      {
        "file": "includes/footer.php",
        "ctime": "2018-06-09T15:03:18.754Z",
        "mtime": "2018-06-09T15:03:18.754Z",
        "size": 2829
      },
      {
        "file": "includes/sessions.php",
        "ctime": "2018-06-09T09:02:59.327Z",
        "mtime": "2018-06-03T14:50:14.000Z",
        "size": 328
      },
      {
        "file": "images/background.jpg",
        "ctime": "2018-06-09T09:02:59.403Z",
        "mtime": "2018-06-09T09:02:59.403Z",
        "size": 864008
      },
      {
        "file": "images/banner169.jpg",
        "ctime": "2018-06-09T09:02:59.823Z",
        "mtime": "2018-06-09T09:02:59.823Z",
        "size": 0
      },
      {
        "file": "login.php",
        "ctime": "2018-06-09T09:07:15.101Z",
        "mtime": "2018-06-04T18:14:56.000Z",
        "size": 1646
      },
      {
        "file": "backend/conn.php",
        "ctime": "2018-06-09T09:13:24.931Z",
        "mtime": "2018-06-09T09:13:24.931Z",
        "size": 327
      },
      {
        "file": "index.php",
        "ctime": "2018-06-09T09:10:41.758Z",
        "mtime": "2018-06-09T09:10:41.758Z",
        "size": 3158
      },
      {
        "file": "papir/index.php",
        "ctime": "2018-06-09T09:12:26.273Z",
        "mtime": "2018-06-09T09:12:26.273Z",
        "size": 3151
      },
      {
        "file": "papir/css/style.css",
        "ctime": "2018-06-09T15:08:32.054Z",
        "mtime": "2018-06-09T15:08:32.054Z",
        "size": 18350
      },
      {
        "file": "css/master.css",
        "ctime": "2018-06-09T15:05:07.073Z",
        "mtime": "2018-06-09T15:05:07.073Z",
        "size": 295162
      },
      {
        "file": "papir/css/uikit.css",
        "ctime": "2018-06-09T09:19:43.901Z",
        "mtime": "2018-06-09T09:19:43.892Z",
        "size": 351108
      },
      {
        "file": "tak.php",
        "ctime": "2018-06-09T09:20:46.803Z",
        "mtime": "2018-06-06T09:06:25.000Z",
        "size": 555
      },
      {
        "file": "css/lightslider.css",
        "ctime": "2018-06-09T09:03:04.729Z",
        "mtime": "2018-06-03T14:50:20.000Z",
        "size": 7991
      },
      {
        "file": "images/GILDAN_LOGO_blue.png",
        "ctime": "2018-06-09T13:58:25.570Z",
        "mtime": "2018-06-09T13:58:25.570Z",
        "size": 19526
      },
      {
        "file": "t-shirt.php",
        "ctime": "2018-06-09T15:08:09.771Z",
        "mtime": "2018-06-09T15:08:09.771Z",
        "size": 8217
      },
      {
        "file": "images/4090.png",
        "ctime": "2018-06-09T14:24:50.111Z",
        "mtime": "2018-06-09T14:24:50.050Z",
        "size": 18904
      },
      {
        "file": "images/bc-collection-logo.jpg",
        "ctime": "2018-06-09T14:25:52.536Z",
        "mtime": "2018-06-09T14:25:52.533Z",
        "size": 41392
      },
      {
        "file": "images/bc-collection-logo.png",
        "ctime": "2018-06-09T14:26:49.936Z",
        "mtime": "2018-06-09T14:26:49.934Z",
        "size": 12946
      },
      {
        "file": "images/frederik.jpg",
        "ctime": "2018-06-09T09:03:00.515Z",
        "mtime": "2018-06-03T14:50:15.000Z",
        "size": 38617
      },
      {
        "file": "images/logos/Stormtech-Performance-Logo.png",
        "ctime": "2018-06-09T15:07:21.289Z",
        "mtime": "2018-06-09T15:07:21.280Z",
        "size": 18387
      },
      {
        "file": "images/logos/GILDAN_LOGO_blue.png",
        "ctime": "2018-06-09T15:07:51.727Z",
        "mtime": "2018-06-09T15:07:33.132Z",
        "size": 7013
      },
      {
        "file": "images/logos/fruit-of-the-loom-logo.png",
        "ctime": "2018-06-09T15:07:44.051Z",
        "mtime": "2018-06-09T15:07:44.051Z",
        "size": 169318
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}